header {
    background-color: aqua;
    font-size: 50px;
    text-align: center;
    padding: 50px;
}

.divForm {
    margin: 10px;;
}

form {
    width: 450px;
    margin: 0 auto;
}

form a {
    margin-left: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input {
    margin: 2px;
}