<h1>Hello, World!</h1>
<nav>
    <a routerLink="">Home</a>
    <a routerLink="/list">List</a>
</nav>
<!--
<h2>Testing H2!</h2>
<div>
    <a href="#">Click Here</a>
</div>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-events></app-events>
<app-emitter></app-emitter>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
-->
<router-outlet></router-outlet>
<footer>Footer</footer>